---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Blog - George's Website`}
      description={"I'll occasionally post on here if I want to."}
    />
  </head>
  <body class="dark bg-black text-white">
    <Header />
    <article class="mt-20 text-left max-w-xl mx-auto p-6">
      <h1 class="text-4xl font-bold">Blog</h1>
      <br />
      <section>
        <ul>
          {
            (posts.length == 0 && <p>George hasn't posted here yet.</p>) ||
              posts.map((post: any) => (
                <li class="mb-3">
                  <a href={`/blog/${post.slug}/`}>
                    <h4 class="title font-bold">{post.data.title}</h4>
                    <p class="date">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </a>
                </li>
              ))
          }
        </ul>
      </section>
    </article>
  </body>
</html>
