---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
---

<html lang="en" class="dark">
  <head>
    <BaseHead title="George's Projects" description="The projects I've made" />
  </head>
  <body class="dark bg-black text-white">
    <Header />
    <article class="mt-20 text-left max-w-xl mx-auto p-6">
      <h1 class="text-4xl font-bold">Projects (not all of them are listed)</h1>
      <br />
      <ul class="text-lg" style="list-style-type: disc;">
        <li>
            <a href="https://www.blooft.com">Blooft</a> - a beautiful
          new tab
        </li>
        <li>
          <a href="https://www.noisefill.com">Noisefill</a> - listen
          to calming soundscapes
        </li>
      </ul>
    </article>
  </body>
</html>
